* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.section-one {
    height: 650px;
    background-color: #65C18C;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.header-left {
    margin-top: 1%;
    margin-left: 9%;
    font-size: 28px;
    font-family: cursive;
    color: #FFBED8;
}

.header-right {
    display: flex;
    gap: 18px;
    margin-top: 1%;
    margin-right: 9%;
}

.header-right, a {
    text-decoration: none;
    color: #C1F4C5;
}

.cupcake-picture {
    height: 350px;
    width: auto;
    border-radius: 8px;
}

.section-one-left {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 15%;
    margin-left: 9%;
    width: 45%;
}

h1 {
    color: #FFBED8;
    font-size: 42px;
    font-family: cursive;
}

.s1-left-p {
    color: #C1F4C5;
}

.order-button {
    width: 20%;
    padding: 7px;
    border-radius: 8px;
    border: none;
    background-color: #FF7BA9;
    color: #C1F4C5;
}
.section-one-right {
    margin-top: 8%;
    margin-right: 9%;
}

.section-two {
    height: 525px;
}

h2 {
    text-align: center;
    margin-top: 2%;
    color: #FF7BA9;
    font-family: cursive;
    font-size: 38px;
}

.flex-container-center {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.s2-images {
    height: 150px;
    width: 250px;
    margin-top: 7%;
    border-radius: 8px;
}


.s2-p {
    margin-top: 2%;
    width: 250px;
    color: #65C18C;
    font-size: 18px;
}

.section-three {
    height: 425px;
    background-color: #C1F4C5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.quote {
    color: #FF7BA9;
    font-size: 34px;
    margin-left: 5%;
    margin-right: 5%;
    font-family: cursive;
}

.signature{
    color: #65C18C;
    margin-left: 25%;
}

.section-four {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-containter{
    height: 150px;
    width: 800px;
    border-radius: 8px;
    background-color: #65C18C;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-left {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cta-p1{
    font-family: cursive;
    font-size: 32px;
    color: #FFBED8;
}

.cta-p2 {
    color: #C1F4C5;
}

.cta-right {
    margin-right: 5%;
}

.order-button-two{
    border-radius: 8px;
    border: none;
    background-color: #FF7BA9;
    color: #C1F4C5;
    padding: 20px;
    width: 200px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #65C18C;
    color: #FFBED8;
    font-size: 18px;
}




